# Backend
.venv
docker/grenouilleapi_postgres/conf.env
backend/cfg/settings.cfg
backend/cfg/sqlite.db

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*~
*.pyc
__pycache__
*.DS_Store
