###########
# Backend #
###########

# Virtual Environment
.venv

# Configs
docker/grenouilleapi_postgres/conf.env
backend/cfg/settings.cfg
docker/grenouilleapi_rtmp/nginx.conf

# Dev database
backend/cfg/sqlite.db

# Python file to run tests
test.py

################################
# Editor directories and files #
################################
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*~
*.pyc
__pycache__
*.DS_Store
